@{
    ViewData["Title"] = "Home Page";
}
<table>
    <tr>
        <td><strong>Application Name</strong></td>
        <td>
            @ViewBag.ApplicationName
        </td>
    </tr>
    <tr>
        <td><strong>Application Version</strong></td>
        <td>
            @ViewBag.ApplicationVersion
        </td>
    </tr>
</table>
